.mb-4 {
  width: 60%;
  margin: 0 auto;

  @media @tablet {
    width: 80%;
    font-size: 1.2rem;
  }
}

.btn-primary {
  background-color: @secondary-col;
  border-color: @secondary-col;
  
  &:hover {
    background-color: @secondary-light;
    border-color: @secondary-light;
  }
}

.col-md-3 .mb-0 p {
  font-size: 1.2rem;
}

.col-md-6,
.col-md-12 {
  font-size: 1.2rem;
}

.btn-primary {
  margin-top: 25px;
  padding: 5px 25px;
}