.parallax(@height, @img) {
    background: @img no-repeat center/cover;
    height: @height;  
    background-attachment: fixed;
}

.ez-flex-ctr(@direction) {
    display: flex;
    flex-direction: @direction;
    justify-content: center;
    align-items: center;
}