.container {
  padding-bottom: 60px;

  .rev-head{
    padding: 20px 0 60px;

    p {
      color: #333;
      font-size: 2rem;
      text-align: center;
    }
  }
  
  .my-card-cont {
    border: 5px solid @primary-light;
    background-color: @primary-light;
    border-radius: 3px;
    padding: 2%;
    
    .card {
      .ez-flex-ctr(row);
      box-sizing: border-box;
      margin: 40px 0;
      padding: 15px;

      @media @mobile {
        .ez-flex-ctr(column);

        &:nth-child(2) {
          flex-direction: column-reverse;
        }
      }
    
      .person-img {
        max-width: 200px;
    
        img {
          max-width: 100%;
          border-radius: 50%;
          opacity: 0.9;
          transition: 0.25s ease-in;

          @media @mobile {
            margin-bottom: 30px;
          }
    
          &:hover {
            transform: scale(1.05);
            opacity: 1;
          }
        }
      }
    
      .person-text {
        width: 90%;
        margin-left: 20px;
    
        p {
          font-size: 1.2rem;
        }
    
        q {
          font-size: 1.4rem;
    
          @media @mobile {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
